---
layout: single
title: All Powers
sidebar:
  nav: classes
---

<h2>Basic Powers</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.basic-powers %}
    <tr>
      <td>
          <a href="basic-powers.html#{{ power[0] | slugify }}"">{{ power[0] }}</a>
      </td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief }}</td>
    </tr>
  {% endfor %}
</table>


<h2>Talents</h2>

<table>
  <tr>
    <th>Name</th>
    <th>School</th>
    <th>Tier</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.powers %}
    <tr>
      <td>
          <a href="{{ power[1].school | slugify }}.html#{{ power[0] | slugify }}">{{ power[0] }}</a>
      </td>
      <td><a href="{{ power[1].school | slugify }}.html">{{ power[1].school }}</td>
      <td>{{ power[1].tier }}</td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief }}</td>
    </tr>
  {% endfor %}
</table>


<h2>General Feats</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.feats.general %}
    <tr>
      <td>
          <a href="feats-general.html#{{ power[0] | slugify }}"">{{ power[0] }}</a>
      </td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief }}</td>
    </tr>
  {% endfor %}
</table>


<h2>Ancestry Feats</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Ancestry</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.feats.ancestry %}
    <tr>
      <td>
          <a href="feats-ancestry.html#{{ power[0] | slugify }}"">{{ power[0] }}</a>
      </td>
      <td>{{ power[1].tier }}</td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief }}</td>
    </tr>
  {% endfor %}
</table>


<h2>Combat Feats</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Combat</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.feats.combat %}
    <tr>
      <td>
          <a href="feats-combat.html#{{ power[0] | slugify }}"">{{ power[0] }}</a>
      </td>
      <td>{{ power[1].tier }}</td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief }}</td>
    </tr>
  {% endfor %}
</table>


<h2>Skill Feats</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Skill</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.feats.skill %}
    <tr>
      <td>
          <a href="feats-skill.html#{{ power[0] | slugify }}"">{{ power[0] }}</a>
      </td>
      <td>{{ power[1].tier }}</td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief }}</td>
    </tr>
  {% endfor %}
</table>