---
layout: single
title: Basic Powers
sidebar:
  nav: rules
---

<!-- <table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.basic-powers %}
    <tr>
      <td>
        <a href="#{{ power[0] | slugify }}">{{ power[0] }}</a>
      </td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief | process_inline }}</td>
    </tr>
  {% endfor %}
</table> -->


{% for power2 in site.data.basic-powers %}
  {% include power.html power=power2 %}
{% endfor %}