---
layout: single
title: Equipment
sidebar:
  nav: character
---

{% assign items = site.data.equipment.apparel %}

<h2 id="apparel">Apparel</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  {% for item in items %}
    <tr>
      <td>
        <a href="#{{ item[0] | slugify }}">{{ item[0] }}</a>
      </td>
      <td>{{ item[1].brief | process_inline }}</td>
    </tr>
  {% endfor %}
</table>

{% for item2 in items %}
  {% include item.html item=item2 %}
{% endfor %}



{% assign items = site.data.equipment.weapons %}

<h2 id="weapons">Weapons</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  {% for item in items %}
    <tr>
      <td>
        <a href="#{{ item[0] | slugify }}">{{ item[0] }}</a>
      </td>
      <td>{{ item[1].brief | process_inline }}</td>
    </tr>
  {% endfor %}
</table>

{% for item2 in items %}
  {% include item.html item=item2 %}
{% endfor %}
