---
layout: single
title: Ancestry Feats
sidebar:
  nav: character
---

{% assign feats = site.data.feats.ancestry %}

<table>
  <tr>
    <th>Name</th>
    <th>Ancestry</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in feats %}
    <tr>
      <td>
        <a href="#{{ power[0] | slugify }}">{{ power[0] }}</a>
      </td>
      <td>{{ power[1].tier }}</td>
      <td>
        {% unless power[1].type == "Passive" %}
          {% icon {{ power[1].type }} %}
        {% endunless %}
      </td>
      <td>{{ power[1].brief | process_inline }}</td>
    </tr>
  {% endfor %}
</table>


{% for item2 in site.data.ancestries %}
  <h2 id={{ item2[0] | slugify }}>{{ item2[0] }}</h2>
  {% for power2 in feats %}
    {% if power2[1].tier == item2[0] %}
      {% include power.html power=power2 %}
    {% endif %}
  {% endfor %}
{% endfor %}
