---
layout: single
title: Power Counts
sidebar:
  nav: classes
---

<p>Total powers: {{ site.data.powers | size }}</p>

<h2>Talents by Class</h2>

<table>
  <tr>
    <th>Name</th>
    <th>All Tiers</th>
    <th>Novice</th>
    <th>Veteran</th>
    <th>Master</th>
    <th>Epic</th>
    <th>Ribbon</th>
  </tr>
  <tr>
    <td><b>All</b></td>
    <td>{{ site.data.powers | size }}</td>
    <td>{{ site.data.powers | where: "tier", "Novice" | size }}</td>
    <td>{{ site.data.powers | where: "tier", "Veteran" | size }}</td>
    <td>{{ site.data.powers | where: "tier", "Master" | size }}</td>
    <td>{{ site.data.powers | where: "tier", "Epic" | size }}</td>
    <td>{{ site.data.powers | where: "tier", "Ribbon" | size }}</td>
  </tr>
  {% for school in site.data.schools %}
    <tr>
      <td><a href="{{ school[0] | slugify }}.html">{{ school[0] }}</a></td>
      <td>{{ site.data.powers | where: "school", school[0] | size }}</td>
      <td>{{ site.data.powers | where: "school", school[0] | where: "tier", "Novice" | size }}</td>
      <td>{{ site.data.powers | where: "school", school[0] | where: "tier", "Veteran" | size }}</td>
      <td>{{ site.data.powers | where: "school", school[0] | where: "tier", "Master" | size }}</td>
      <td>{{ site.data.powers | where: "school", school[0] | where: "tier", "Epic" | size }}</td>
      <td>{{ site.data.powers | where: "school", school[0] | where: "tier", "Ribbon" | size }}</td>
    </tr>
  {% endfor %}
</table>


<h2>Feats by Ancestry</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Feats</th>
  </tr>
  <tr>
    <td><b>All</b></td>
    <td>{{ site.data.feats.ancestry | size }}</td>
  </tr>
  {% for ancestry in site.data.ancestries %}
    <tr>
      <td><a href="{{ ancestry[0] | slugify }}.html">{{ ancestry[0] }}</a></td>
      <td>{{ site.data.feats.ancestry | where: "tier", ancestry[0] | size }}</td>
    </tr>
  {% endfor %}
</table>


<h2>Feats by Skill</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Feats</th>
  </tr>
  <tr>
    <td><b>All</b></td>
    <td>{{ site.data.feats.skill | size }}</td>
  </tr>
  {% for skill in site.data.skills %}
    <tr>
      <td><a href="{{ skill[0] | slugify }}.html">{{ skill[0] }}</a></td>
      <td>{{ site.data.feats.skill | where: "tier", skill[0] | size }}</td>
    </tr>
  {% endfor %}
</table>


<h2>Feats by Weapon</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Feats</th>
  </tr>
  <tr>
    <td><b>All</b></td>
    <td>{{ site.data.feats.combat | size }}</td>
  </tr>
  {% for weapon in site.data.equipment.weapons %}
    <tr>
      <td><a href="{{ weapon[0] | slugify }}.html">{{ weapon[0] }}</a></td>
      <td>{{ site.data.feats.combat | where: "tier", weapon[0] | size }}</td>
    </tr>
  {% endfor %}
</table>
