---
layout: single
title: Traits
sidebar:
  nav: rules
---

{% for trait-cat in site.data.traits %}
  <h2 id={{ trait-cat[0] | slugify }}>
    {{ trait-cat[0] }}
  </h2>
  {% for trait in trait-cat[1] %}
    <!-- <h4 id={{ trait[0] | slugify }}>
      {{ trait[0] }}
    </h4> -->
    <h4 id={{ trait[0] | slugify }}>
      {% trait {{ trait[0] }} %}
    </h4>
    <div class="power-body">
      {{ trait[1] | process }}

      {% assign name = trait[0] %}
      {% capture occurences %}
        {% assign my_powers = site.data.trait_to_basic_powers[name] %}
        {% if my_powers %}
          <dt>Basic Powers ({{ my_powers | size }})</dt>
          {% assign br_start = "{" %}
          {% assign br_end = "}" %}
          {% assign separator = "}, {" %}
          {% assign powers_str = my_powers | sort | join: separator | prepend: br_start | append: br_end %}
          <dd>{{ powers_str | process_inline }}</dd>
        {% endif %}

        {% assign tiers = "Novice, Veteran, Master, Epic, Ribbon" | split: ", " %}
        {% for tier2 in tiers %}
          {% assign my_powers = site.data.trait_to_talents[tier2][name] %}
          {% if my_powers %}
            {% if tier2 == "Ribbon" %}
              <dt>Ribbons ({{ my_powers | size }})</dt>
            {% else %}
              <dt>{{ tier2 }} Talents ({{ my_powers | size }})</dt>
            {% endif %}
            {% assign br_start = "{" %}
            {% assign br_end = "}" %}
            {% assign separator = "}, {" %}
            {% assign powers_str = my_powers | sort | join: separator | prepend: br_start | append: br_end %}
            <dd>{{ powers_str | process_inline }}</dd>
          {% endif %}
        {% endfor %}

        {% assign my_powers = site.data.trait_to_feats[name] %}
        {% if my_powers %}
          <dt>Feats ({{ my_powers | size }})</dt>
          {% assign br_start = "{" %}
          {% assign br_end = "}" %}
          {% assign separator = "}, {" %}
          {% assign powers_str = my_powers | sort | join: separator | prepend: br_start | append: br_end %}
          <dd>{{ powers_str | process_inline }}</dd>
        {% endif %}

        {% assign my_powers = site.data.trait_to_other[name] %}
        {% if my_powers %}
          <dt>Other ({{ my_powers | size }})</dt>
          {% assign br_start = "{" %}
          {% assign br_end = "}" %}
          {% assign separator = "}, {" %}
          {% assign powers_str = my_powers | sort | join: separator | prepend: br_start | append: br_end %}
          <dd>{{ powers_str | process_inline }}</dd>
        {% endif %}
      {% endcapture %}

      {% if occurences.size > 250 %}
        <details>
          <summary><h4>See Uses</h4></summary>
          <dl>{{ occurences }}</dl>
        </details>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}