{% assign power_name = include.power[0] %}
{% assign power_body = include.power[1] %}
<div class="power">

<details>
<summary>
    <h3 id="{{ power_name | slugify }}">
        {{ power_name }}
        {% if power_body.type %}
        {% unless power_body.type == "Passive" %}
        {% icon {{ power_body.type }} %}
        {% endunless %}
        {% endif %}
        {% if power_body.tier %}
        {% endif %}
    </h3>

    <div class="fluff">
        {{ power_body.brief | process }}
    </div>
</summary>

{% if power_body.aside %}
<aside>
    {{ power_body.aside | process }}
</aside>
{% endif %}

<div class="power-body">

{% if power_body.traits %}
    <ul class="traits">
    {% for trait in power_body.traits %}
        {% trait {{ trait }} %}
    {% endfor %}
    </ul>
{% endif %}

{% if power_body.tags %}
    <dl class="tags">
    {% for tag in power_body.tags %}
        <dt>{{ tag[0] | capitalize }}</dt>
        <dd>{{ tag[1] | process_inline }}</dd>
    {% endfor %}
    </dl>
    <hr>
{% endif %}

{{ power_body.effect | process }}

{% if power_body.specialize %}
<h4>Specializations</h4>
<table class="specialize">
    <tr>
        {% for option in power_body.specialize %}
        <th>
            {{ option[0] }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for option in power_body.specialize %}
        <td>
            {{ option[1] | process }}
        </td>
        {% endfor %}
    </tr>
</table>
{% endif %}

{% if power_body.tabs %}
<div class="tabset">
    {% for tab in power_body.tabs %}
    <input
        type="radio"
        name="{{power_name}} tabs"
        id="{{power_name}} - {{tab[0]}}"
        hidden
        {% if forloop.first %}checked{% endif %}
    >
    {% endfor %}
    <ul hidden aria-hidden="true">
        {% for tab in power_body.tabs %}
        <li><label for="{{power_name}} - {{tab[0]}}">
            <div class="subpower-title">
                {{ tab[0] }}
                {% if tab[1].type %}
                {% unless tab[1].type == "Passive" %}
                {% icon {{ tab[1].type }} %}
                {% endunless %}
                {% endif %}
            </div>
        </label></li>
        {% endfor %}
    </ul>
    <div>
        {% for tab in power_body.tabs %}
        <section>
            <h2>{{tab[0]}}</h2>
            {% include tabbedpower.html tabbedpower=tab %}
        </section>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if power_body.fluff %}
<div class="fluff">{{ power_body.fluff | process }}</div>
{% endif %}

</div>
</details>
</div>