---
layout: single
sidebar:
  nav: character
---

{% assign ancestry = page.data[1] %}

{{ ancestry.effect | process }}

<h3>Heritages</h3>

<p>
  When you make a {{ page.data[0] | downcase }} character, choose one of the following heritages.
</p>

{% for heritage in ancestry.heritages %}
  {% include power.html power=heritage %}
{% endfor %}

<h2>Ancestry Feats</h2>

<p>
  These feats are available only to {{ page.data[0] | downcase }} characters.
</p>

{% for feat in site.data.feats.ancestry %}
  {% if feat[1].tier == page.data[0] %}
    {% include power.html power=feat %}
  {% endif %}
{% endfor %}